
 @media (max-width: 600px) {
    .carousel-inner {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  
    .carousel-item {
      display: block;
      height: auto;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: auto;
      }
    }
    
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
  }
  