<body class="bgV">
  <main>
    <div class="lista">
      <div class="naslov">
        <h1>VINARIJE</h1>
        <div class="linija"></div>
      </div>

      <div class="red">
        <div class="kol">
          <a href="/vinarijaZB">
            <img
              class="slika"
              src="assets/zvonkoBogdan3.webp"
              alt="Zvonko Bogdan"
            />
          </a>
          <a href="/vinarijaZB">
            <h2 class="crta">Vinarija Zvonko Bogdan</h2>
          </a>
          <p class="tekst">
            Godišnje proizvode preko 400.000 vina visokog kvaliteta koja redovno
            osvajaju najviša svetska priznanja. <br />
          </p>
        </div>

        <div class="kol">
          <a href="/vinarijaP">
            <img class="slika" src="assets/vinarijaPetra1.webp" alt="Petra" />
          </a>
          <a href="/vinarijaP">
            <h2 class="crta">Vinarija Petra</h2>
          </a>
          <p class="tekst">
            U njihovim prodavnicama možete naći Pinot Noir Barique, Reserva,
            Cuvée, Desertni Traminac, Rosé i još mnoga druga vina.
          </p>
        </div>

        <div class="kol" style="clear: left">
          <a href="/vinskiDvor">
            <img class="slika" src="assets/vDvor3.webp" alt="Vinski Dvor" />
          </a>
          <a href="/vinskiDvor">
            <h2 class="crta">Vinski Dvor</h2>
          </a>
          <p class="tekst">
            Vinski Dvor, pored 12 vrsta vina i 8ha površine, raspolaže i sa
            restoranom, VIP salom kao i smeštajem.
          </p>
        </div>
      </div>
    </div>
  </main>
</body>
