<body class="bg">
  <main>
    <h1 style="position: static">Turistički informator Palića</h1>

    <div id="kontejner">
      <p class="sONama">O NAMA</p>
      <div class="oNama">
        <div id="opis">
          <p>
            Palić je turistički veoma poznato gradsko naselje u Vojvodini.<br />
            Naša stranica je informativnog karaktera i služi posetiocima da
            lakše pronađu restoran ili vinariju koju žele da posete. Palić je
            poznat po raznim ali najviše po
            <em> tradicionalnim restoranima</em>, među najpoznatijim su čarde
            koje imaju izvanredan izbor hrane.<br />
            Pored toga, imamo posebne sekcije za zoo vrt, dešavanja na Paliću
            kao i smeštaj, što je takođe od velikog značaja turistima.<br />
            Pošto je naš cilj da približimo iskustva i da olakšamo izbor, imamo
            poseban segment u formi bloga koji je pun utisaka ranijih posetilaca
            Palića.
          </p>
        </div>
      </div>
    </div>

    <table class="slike" style="overflow: hidden">
      <tr>
        <td><img src="assets/jezeroZalazak1.webp" alt="Zalazak sunca" (click)="openLightbox(0)"/></td>
        <td><img src="assets/parkTrka13.webp" alt="Trka dedamraza" (click)="openLightbox(1)"/></td>
        <td><img src="assets/park1.webp" alt="Park" (click)="openLightbox(2)"/></td>
      </tr>
    </table>

    <hr />
    <br />
  </main>
  <footer>
    <p id="kontakt">
      <b>Kontakt:</b> &emsp;&emsp;
      <a href="mailto:palicturizam@gmail.com"
        >e-mail:palicturizam&#64;gmail.com</a
      >
      &emsp;&emsp; <a href="tel:+3814175200">telefon: +381 4175200</a>
    </p>
    <br />

    <p style="text-align: center; margin:0">&copy; Petra Ostrogonac</p>
  </footer>
</body>
