<body class="bgR">
  <div class="lista">
    <div class="naslov">
      <h1>RESTORANI</h1>
      <div class="linija"></div>
    </div>
    <div class="red">
      <div class="kol">
        <a href="/pepperMill">
          <img class="slika" src="assets/pmProstorija1.webp" alt="Pepper Mill" />
        </a>
        <a href="/pepperMill">
          <h2 class="crta">Pizza Pepper Mill</h2>
        </a>
        <p class="tekst">
          Pizza Pepper Mill je picerija/restoran u okviru Vila Elizabete, nalazi
          se na obali jezera i u blizini zoo vrta.
        </p>
      </div>
      <div class="kol">
        <a href="/gostionaAbraham">
          <img class="slika" src="assets/abraham2.webp" alt="Abraham" />
        </a>
        <a href="/gostionaAbraham">
          <h2 class="crta">Gostiona Abraham</h2>
        </a>
        <p class="tekst">
          Abraham je jedan od omiljenih restorana na Paliću i u okolini, nude
          tradicionalne ukuse i veoma kvalitetna jela.
        </p>
      </div>

      <div class="kol" style="clear: left">
        <a href="/ribljaCarda">
          <img class="slika" src="assets/rCarda2.webp" alt="Riblja čarda" />
        </a>
        <a href="/ribljaCarda">
          <h2 class="crta">Riblja čarda</h2>
        </a>
        <p class="tekst">
          Jedna od najpoznatijih specijalizovanih restorana na Paliću. Nalazi se
          kraj obale jezera.
        </p>
      </div>

      <div class="kol">
        <a href="/corsaroUno">
          <img class="slika" src="assets/corsaro5.webp" alt="Corsaro" />
        </a>
        <a href="/corsaroUno">
          <h2 class="crta">Corsaro Uno</h2>
        </a>
        <p class="tekst">
          Ugostiteljska radnja Corsaro se nalazi u centru Palića, gde uspešno
          posluju još od 2014. godine.
        </p>
      </div>

      <div class="kol">
        <a href="/paligoPalata">
          <img class="slika" src="assets/paligo4.webp" alt="Paligo" />
        </a>
        <a href="/paligoPalata">
          <h2 class="crta">Paligo Palata</h2>
        </a>
        <p class="tekst">
          Jedan od najmlađih restorana na Paliću, otvorio se tek prošle godine.
          U okviru njega, otvoren je i dečiji restoran.
        </p>
      </div>
    </div>
  </div>
</body>
