<body class="bgR">
  <div class="lista">
    <div class="naslov">
      <h1>{{ 'navC.restaurants' | translate}}</h1>
      <div class="linija"></div>
    </div>
    <div class="red">
      <div class="kol">
        <a href="/pepperMill">
          <img class="slika" src="assets/pmProstorija1.webp" alt="Pepper Mill" />
        </a>
        <a href="/pepperMill">
          <h2 class="crta">Pizza Pepper Mill</h2>
        </a>
        <p class="tekst">
          {{ 'restaurantsC.restaurant1' | translate}}
        </p>
      </div>
      <div class="kol">
        <a href="/gostionaAbraham">
          <img class="slika" src="assets/abraham2.webp" alt="Abraham" />
        </a>
        <a href="/gostionaAbraham">
          <h2 class="crta">{{ 'navC.abrahamInn' | translate }}</h2>
        </a>
        <p class="tekst">
          {{ 'restaurantsC.restaurant2' | translate}}
        </p>
      </div>

      <div class="kol" style="clear: left">
        <a href="/ribljaCarda">
          <img class="slika" src="assets/rCarda2.webp" alt="Riblja čarda" />
        </a>
        <a href="/ribljaCarda">
          <h2 class="crta">Riblja čarda</h2>
        </a>
        <p class="tekst">
          {{ 'restaurantsC.restaurant3' | translate}}
        </p>
      </div>

      <div class="kol">
        <a href="/corsaroUno">
          <img class="slika" src="assets/corsaro5.webp" alt="Corsaro" />
        </a>
        <a href="/corsaroUno">
          <h2 class="crta">Corsaro Uno</h2>
        </a>
        <p class="tekst">
          {{ 'restaurantsC.restaurant4' | translate}}
        </p>
      </div>

      <div class="kol">
        <a href="/paligoPalata">
          <img class="slika" src="assets/paligo4.webp" alt="Paligo" />
        </a>
        <a href="/paligoPalata">
          <h2 class="crta">{{ 'navC.paligoPalace' | translate }}</h2>
        </a>
        <p class="tekst">
          {{ 'restaurantsC.restaurant5' | translate}}
        </p>
      </div>
    </div>
  </div>
</body>
