<app-nav></app-nav>
<body>
  <main>
    <div class="title">
      <h1>{{ 'navC.events' | translate }}</h1>
    </div>

    <div style="overflow-x: auto">
      <table class="infoTab">
        <tr>
          <td [innerHTML]=" 'eventsC.raceDesc' | translate ">
          </td>
          <td>
            <img src="assets/parkTrka10.webp" alt="Trka1" style="width: 100%" (click)="openLightbox(0)" />
          </td>
        </tr>
      </table>
      <table class="infoTab" style="margin-top: 0">
        <tr>
          <td [innerHTML]=" 'eventsC.marathonDesc' | translate ">
          </td>
        </tr>
        <tr>
          <td [innerHTML]=" 'eventsC.seeoocDesc' | translate ">
          </td>
        </tr>
      </table>
    </div>
  </main>
</body>
