* {
  margin: 0;
  padding: 0;
  font-family: Georgia, Garamond, serif;
  box-sizing: border-box;
  color: black;
}

body {
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  background-color: rgba(0, 101, 192, 0.4);
}

th + th {
  height: 25px;
}

tr td {
  justify-content: space-between;
  text-align: center;
  font-size: 80%;
}

tr td a {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}

td {
  border: 0.02em solid transparent;
  padding: 0;
}

.infoTab {
  margin-top: 3em;
  width: 100%;
  border: 0;
  display: table;
  border-spacing: 2em 1.5em;
  border-collapse: separate;
}

.infoTab tr td {
  font-size: 1.4em;
  padding: 1em;
  text-align: left;
}

.infoTab tr td + td {
  text-align: center;
}

.infoTab tr {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoTab td {
  width: 35%;
}

.infoTab td img {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  padding-top: 1.1em;
  text-align: center;
  font-size: 3em;
  text-shadow: 0.04em 0.04em #bfd8ef;
}

.relativePosition {
  position: relative;
  left: 30px;
}

@media only screen and (max-width: 1100px) {
  .infoTab tr td {
    font-size: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .pictures img {
    width: 90%;
  }

  tr td a {
    font-size: 0.9em;
  }

  .infoTab tr td {
    font-size: 1.1em;
    width: 100%;
    display: block;
  }

  .title {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 700px) {
  tr td a {
    font-size: 1em;
  }

  .title {
    font-size: 0.5em;
  }

  .infoTab {
    margin-top: 0;
  }

  .infoTab tr td {
    font-size: 0.8em;
    
  }

  span {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 0.4em;
  }

  tr td a {
    font-size: 0.5em;
  }
}
