<body>
  <main>
    <h1>Pizza Pepper Mill</h1>
    <div class="line"></div>

    <div class="row">
      <div class="column left">
        <img src="assets/pmProstorija1.webp" alt="" style="width: 100%; padding-bottom: 2px;" (click)="openLightbox(0)"/>
        <img src="assets/pmProstorija10.webp" alt="" style="width: 100%; padding-bottom: 2px;" (click)="openLightbox(1)"/>
        <img src="assets/pmHrana3.webp" alt="" style="width: 100%" (click)="openLightbox(2)"/>
      </div>
      <div class="column middle">
        <p>
          {{ 'pepperMillC.about1' | translate }}
        </p>

        <p>{{ 'pepperMillC.menu' | translate }}</p>

        <ol id="menu">
          <li>{{ 'pepperMillC.dishes.item1' | translate }}</li>
          <li>{{ 'pepperMillC.dishes.item2' | translate }}</li>
          <li>Pizza Pepper Mill</li>
          <li>Pizza Vila Elizabet</li>
          <li>Pizza A La Erwin</li>
        </ol>

        <br />

        <p>
          <br />{{ 'pepperMillC.about2' | translate }} <br />
          <br />
          {{ 'pepperMillC.address' | translate }}
        </p>
        <address style="font-size: 1.3em">Riječka 9, Palić 24413</address>

        <p>
          <br />
          Za više informacija posetite:<a
            href="https://www.peppermill.rs/"
            target="_blank"
            style="color: black"
            >peppermill.rs</a
          >
        </p>
      </div>
      <div class="column right">
        <img src="assets/pmDvoriste5.webp" alt="" style="width: 100%; padding-bottom: 2px;" (click)="openLightbox(3)" />
        <img src="assets/pmProstorija11.webp" alt="" style="width: 100%; padding-bottom: 2px;" (click)="openLightbox(4)"/>
        <img src="assets/pmProstorija16.webp" alt="" style="width: 100%" (click)="openLightbox(5)"/>
      </div>
    </div>

    <div style="clear: both; padding-top: 3em">
      <table class="restaurantImgs">
        <tr id="pepperMill">
          <td><img src="assets/pmDvoriste14.webp" alt="" (click)="openLightbox(6)"/></td>
          <td><img src="assets/pmDvoriste2.webp" alt="" (click)="openLightbox(7)"/></td>
          <td><img src="assets/pmHrana5.webp" alt="" (click)="openLightbox(8)"/></td>
          <td><img src="assets/pmProstorija2.webp" alt="" (click)="openLightbox(9)"/></td>
        </tr>
      </table>
    </div>
  </main>
</body>
