<body
  style="
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url('assets/rCarda2.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  "
>
  <main>
    <h1
      style="
        text-align: center;
        margin-top: 2em;
        color: black;
        text-shadow: 0.04em 0.04em #ffaa6a;
      "
    >
      Riblja Čarda
    </h1>
    <div style="overflow-x: auto">
      <table class="restaurantsTable">
        <tr>
          <td colspan="2" class="whiteBG">
            {{ 'ribljaCardaC.about' | translate}}
            <br /><br />

            {{ 'ribljaCardaC.menu.spec' | translate}}
            <ul class="menuNoNumber">
              <li>{{ 'ribljaCardaC.menu.item1' | translate}}</li>
              <li>{{ 'ribljaCardaC.menu.item2' | translate}}</li>
              <li>{{ 'ribljaCardaC.menu.item3' | translate}}</li>
              <li>{{ 'ribljaCardaC.menu.item4' | translate}}</li>
              <li>{{ 'ribljaCardaC.menu.item5' | translate}}</li>
              <li>{{ 'ribljaCardaC.menu.item6' | translate}}</li>
              <li>{{ 'ribljaCardaC.menu.item7' | translate}}</li>
            </ul>

            <br /><br />
            {{ 'corsaroUnoC.workingHours' | translate }} <br />
            {{ 'ribljaCardaC.moSu' | translate}}
            <br />
            <br />
            {{ 'corsaroUnoC.moreInfo' | translate }}
            <a
              href="https://ribljacarda.rs/"
              target="_top"
              style="color: black"
            >
              ribljacarda.rs/</a
            >
          </td>
        </tr>
        <tr>
          <td><img src="assets/rCarda3.webp" alt="" (click)="openLightbox(0)"/></td>
          <td><img src="assets/rCarda8.webp" alt="" (click)="openLightbox(1)"/></td>
        </tr>
      </table>
    </div>

    <div style="clear: both; margin-top: 2em">
      <table class="restaurantImgs">
        <tr>
          <td><img src="assets/rCarda1.webp" alt="" (click)="openLightbox(2)"/></td>
          <td><img src="assets/rCarda4.webp" alt="" (click)="openLightbox(3)"/></td>
          <td><img src="assets/rCarda5.webp" alt="" (click)="openLightbox(4)"/></td>
          <td><img src="assets/rCarda7.webp" alt="" (click)="openLightbox(5)"/></td>
        </tr>
      </table>
    </div>
  </main>
</body>
