<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="toranj" src="assets/toranj1.webp" alt="naslovnaSlika"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" [class.active]="activeMenu === ''">
            <a class="nav-link" aria-current="page" href="">{{ 'navC.home' | translate}}</a>
          </li>
          <li class="nav-item" [class.active]="activeMenu === 'blog'">
            <a class="nav-link" href="blog">{{ 'navC.blog' | translate}}</a>
          </li>
          <li class="nav-item" [class.active]="activeMenu === 'events'">
            <a class="nav-link" href="events">{{ 'navC.events' | translate}}</a>
          </li>
          <li class="nav-item" [class.active]="activeMenu === 'zoo'">
            <a class="nav-link" href="zoo">{{'navC.zoo' | translate}}</a>
          </li>
          <li class="nav-item" [class.active]="activeMenu === 'accommodation'">
            <a class="nav-link" href="accommodation">{{'navC.accommodation' | translate}}</a>
          </li>
          <li class="nav-item dropdown" [class.active]="activeMenu === 'restaurants'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'navC.restaurants' | translate}}
            </a>
            <ul class="dropdown-menu">
              <li [class.active]="activeMenu === 'restaurants'" ><a class="dropdown-item" href="restaurants">{{'navC.allRestaurants' | translate}}</a></li>
              <li [class.active]="activeMenu === 'pepperMill'"><a class="dropdown-item" href="pepperMill">PIZZA PEPPER MILL</a></li>
              <li [class.active]="activeMenu === 'gostionaAbraham'"><a class="dropdown-item" href="gostionaAbraham">{{'navC.abrahamInn' | translate}}</a></li>
              <li [class.active]="activeMenu === 'ribljaCarda'"><a class="dropdown-item" href="ribljaCarda">RIBLJA ČARDA</a></li>
              <li [class.active]="activeMenu === 'corsaroUno'"><a class="dropdown-item" href="corsaroUno">CORSARO UNO</a></li>
              <li [class.active]="activeMenu === 'paligoPalata'"><a class="dropdown-item" href="paligoPalata">{{'navC.paligoPalace' | translate}}</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" [class.active]="activeMenu === 'wineries'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'navC.wineries' | translate}}
            </a>
            <ul class="dropdown-menu">
              <li [class.active]="activeMenu === 'wineries'"><a class="dropdown-item" href="wineries">{{'navC.allWineries' | translate}}</a></li>
              <li [class.active]="activeMenu === 'vinarijaZB'"><a class="dropdown-item" href="vinarijaZB">ZVONKO BOGDAN</a></li>
              <li [class.active]="activeMenu === 'vinarijaP'"><a class="dropdown-item" href="vinarijaP">PETRA</a></li>
              <li [class.active]="activeMenu === 'vinskiDvor'"><a class="dropdown-item" href="vinskiDvor">VINSKI DVOR</a></li>
            </ul>
          </li>
          <li class="nav-item" [class.active]="activeMenu === 'imageGallery'" routerLink="/imageGallery">
            <a class="nav-link" href="imageGallery">{{'navC.gallery' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link langBTN" (click)="changeLanguage('en')">en</a>
            <a class="nav-link langBTN" (click)="changeLanguage('sr')">sr</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>