<body class="bg">
  <main>
    <h1 style="position: static">{{ 'homeC.title' | translate }}</h1>

    <div id="kontejner">
      <p class="sONama">{{ 'homeC.aboutUs' | translate }}</p>
      <div class="oNama">
        <div id="opis">
          <p [innerHTML]=" 'homeC.aboutDesc' | translate">
          </p>
        </div>
      </div>
    </div>

    <table class="slike" style="overflow: hidden">
      <tr>
        <td><img src="assets/jezeroZalazak1.webp" alt="Zalazak sunca" (click)="openLightbox(0)"/></td>
        <td><img src="assets/parkTrka13.webp" alt="Trka dedamraza" (click)="openLightbox(1)"/></td>
        <td><img src="assets/park1.webp" alt="Park" (click)="openLightbox(2)"/></td>
      </tr>
    </table>

    <hr />
    <br />
  </main>
  <footer>
    <p id="kontakt">
      <b>{{ 'homeC.contact' | translate }}</b> &emsp;&emsp;
      <a href="mailto:palicturizam@gmail.com">
        e-mail:palicturizam&#64;gmail.com</a>
      &emsp;&emsp; <a href="tel:+3814175200">{{ 'homeC.telephone' | translate }} +381 4175200</a>
    </p>
    <br />

    <p style="text-align: center; margin:0">&copy; Petra Ostrogonac</p>
  </footer>
</body>
