* {
  margin: 0;
  padding: 0;
  font-family: Georgia, Garamond, serif;
  box-sizing: border-box;
  color: black;
}

body {
  overflow-x: hidden;
  padding: 1.4em;
}

.text {
  text-align: center;
  margin: 10vh auto;
  left: 20vw;
  top: 10vh;
  bottom: 10vh;
  min-width: 250px;
  max-width: 640px;
  background-color: #fff;
  opacity: 0.85;
  padding: 60px 15px;
  border-radius: 7px;
}

h1 {
  font-size: 2.2em;
}

p {
  font-size: 1.4em;
  margin-top: 2em;
}

.line {
  width: 100px;
  height: 4px;
  background: #7fb2df;
  margin: 10px auto;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .text {
    max-width: 70%;
  }

  h1 {
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
    margin-top: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.4em;
  }

  p {
    font-size: 0.7em;
    margin-top: 1.2em;
  }
}
