<app-nav></app-nav>
<body class="bgR">
  <div class="list">
    <div class="title">
      <h1>{{ 'navC.restaurants' | translate}}</h1>
      <div class="line"></div>
    </div>
    <div class="row">
      <div class="columnTable">
        <a routerLink="/restaurants/pepperMill">
          <img class="image" src="assets/pmProstorija1.webp" alt="Pepper Mill" />
        </a>
        <a routerLink="/restaurants/pepperMill">
          <h2 class="underline">Pizza Pepper Mill</h2>
        </a>
        <p class="text">
          {{ 'restaurantsC.restaurant1' | translate}}
        </p>
      </div>
      <div class="columnTable">
        <a routerLink="/restaurants/abraham">
          <img class="image" src="assets/abraham2.webp" alt="Abraham" />
        </a>
        <a routerLink="/restaurants/abraham">
          <h2 class="underline">{{ 'navC.abrahamInn' | translate }}</h2>
        </a>
        <p class="text">
          {{ 'restaurantsC.restaurant2' | translate}}
        </p>
      </div>

      <div class="columnTable" style="clear: left">
        <a routerLink="/restaurants/ribljaCarda">
          <img class="image" src="assets/rCarda2.webp" alt="Riblja čarda" />
        </a>
        <a routerLink="/restaurants/ribljaCarda">
          <h2 class="underline">Riblja čarda</h2>
        </a>
        <p class="text">
          {{ 'restaurantsC.restaurant3' | translate}}
        </p>
      </div>

      <div class="columnTable">
        <a routerLink="/restaurants/corsaroUno">
          <img class="image" src="assets/corsaro5.webp" alt="Corsaro" />
        </a>
        <a routerLink="/restaurants/corsaroUno">
          <h2 class="underline">Corsaro Uno</h2>
        </a>
        <p class="text">
          {{ 'restaurantsC.restaurant4' | translate}}
        </p>
      </div>

      <div class="columnTable">
        <a routerLink="/restaurants/paligoPalace">
          <img class="image" src="assets/paligo4.webp" alt="Paligo" />
        </a>
        <a routerLink="/restaurants/paligoPalace">
          <h2 class="underline">{{ 'navC.paligoPalace' | translate }}</h2>
        </a>
        <p class="text">
          {{ 'restaurantsC.restaurant5' | translate}}
        </p>
      </div>
    </div>
  </div>
</body>
