<app-nav></app-nav>
<body class="bgV">
  <main>
    <div class="list">
      <div class="title">
        <h1>{{ 'navC.wineries' | translate }}</h1>
        <div class="line"></div>
      </div>

      <div class="row">
        <div class="columnTable">
          <a routerLink="/wineries/zvonkoBogdan">
            <img
              class="image"
              src="assets/zvonkoBogdan3.webp"
              alt="Zvonko Bogdan"
            />
          </a>
          <a routerLink="/wineries/zvonkoBogdan">
            <h2 class="underline">Zvonko Bogdan</h2>
          </a>
          <p class="text" [innerHTML]=" 'wineriesC.winerie1' | translate">
          </p>
        </div>

        <div class="columnTable">
          <a routerLink="/wineries/petra">
            <img class="image" src="assets/vinarijaPetra1.webp" alt="Petra" />
          </a>
          <a routerLink="/wineries/petra">
            <h2 class="underline">Petra</h2>
          </a>
          <p class="text">
            {{ 'wineriesC.winerie2' | translate }}
          </p>
        </div>

        <div class="columnTable" style="clear: left">
          <a routerLink="/wineries/vinskiDvor">
            <img class="image" src="assets/vDvor3.webp" alt="Vinski Dvor" />
          </a>
          <a routerLink="/wineries/vinskiDvor">
            <h2 class="underline">Vinski Dvor</h2>
          </a>
          <p class="text">
            {{ 'wineriesC.winerie3' | translate }}
          </p>
        </div>
      </div>
    </div>
  </main>
</body>
