<body class="bgV">
  <main>
    <div class="lista">
      <div class="naslov">
        <h1>{{ 'navC.wineries' | translate }}</h1>
        <div class="linija"></div>
      </div>

      <div class="red">
        <div class="kol">
          <a href="/vinarijaZB">
            <img
              class="slika"
              src="assets/zvonkoBogdan3.webp"
              alt="Zvonko Bogdan"
            />
          </a>
          <a href="/vinarijaZB">
            <h2 class="crta">Zvonko Bogdan</h2>
          </a>
          <p class="tekst" [innerHTML]=" 'wineriesC.winerie1' | translate">
          </p>
        </div>

        <div class="kol">
          <a href="/vinarijaP">
            <img class="slika" src="assets/vinarijaPetra1.webp" alt="Petra" />
          </a>
          <a href="/vinarijaP">
            <h2 class="crta">Petra</h2>
          </a>
          <p class="tekst">
            {{ 'wineriesC.winerie2' | translate }}
          </p>
        </div>

        <div class="kol" style="clear: left">
          <a href="/vinskiDvor">
            <img class="slika" src="assets/vDvor3.webp" alt="Vinski Dvor" />
          </a>
          <a href="/vinskiDvor">
            <h2 class="crta">Vinski Dvor</h2>
          </a>
          <p class="tekst">
            {{ 'wineriesC.winerie3' | translate }}
          </p>
        </div>
      </div>
    </div>
  </main>
</body>
