<body
  style="
    background-image: url('/assets/zvonkoBogdan1.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 10em;
  "
>
  <main>
    <div class="tekst">
      <h1>Vinarija Zvonko Bogdan</h1>
      <div class="linija"></div>
      <p>
        Vinarija poseduje sale za degustaciju, veliki restoran kao i vinograde.
        Na ovom predelu vinova loza se uzgaja preko 2000 godina. Vina se prodaju
        internacionalno, od 19. veka započeli su sa prodajom na predelima čitave
        Evrope.
        <br />
        Godišnje proizvode preko 400.000 vina visokog kvaliteta koja redovno
        osvajaju najviša svetska priznanja.
        <br />
        Vinograd se prostire na 62 hektara, tlo je mešavina krečnjaka, gline i
        silikatnog kamena, a na njemu uzgaja se Merlo, Beli Sovinjon, Pino Blan,
        Šardone i još nekoliko raznih grožđa.
        <br />
        Vinariju možete posetiti svakog dana od 10 - 16h.
      </p>
    </div>
  </main>
</body>
