<body
  style="
    background-image: url('assets/vinarijaPetra2.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 10em;
  "
>
  <main>
    <div class="tekst">
      <h1>Vinarija Petra</h1>
      <div class="linija"></div>
      <p>
        Porodični vinograd Petra nalazi se u blizini jezera, i prostire se na 10
        hektara od kojih je 3,5 hektara pod vinovom lozom.
        <br />
        Na ovom zemljištu zasađeni su Pinot Noir, Pinot Grigio, Merlot i
        Cabernet Franc. U njihovim prodavnicama možete naći Pinot Noir Barique,
        Reserva, Cuvée, Desertni Traminac, Rosé i još mnoga druga vina.
        <br />
        Vinograd ima raspored koji omogućava da svaki grozd ima isto izlaganje
        suncu, kiši i vetru. Nakon perioda konverzije barba 2021. godine dobila
        je srpski i evropski sertifikat organskog vina.
      </p>
    </div>
  </main>
</body>
