<body
  style="
    background-image: url('assets/vDvor13.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    padding-bottom: 10em;
  "
>
  <main>
    <div class="tekst">
      <h1>Vinski Dvor</h1>
      <div class="linija"></div>
      <p>
        Vinski Dvor, pored 12 vrsta vina i 8ha površine, raspolaže i sa
        restoranom, VIP salom kao i smeštajem.
        <br />
        Vinarija pod nazivom Fodor-Hupert osnovana je još 1956. godine. Vino se
        proizvodi na tradicionalan način uz pomoć modernih mašina. Vina imaju
        geografski zaštićeno poreklo i osvojili su značajne nagrade. U vinogradu
        gaje 10 sorti grožđa, a vinovu lozu uzgajaju sistemom zavesa koja rađa
        grožđe u maloj količini ali sa visokim kvalitetom.
        <br />
        Vinski podrum možete posetiti ako ste zainteresovani u degustaciju 9
        vrsta vina uz dodatan izbor sira i maslina.
      </p>
    </div>
  </main>
</body>
