<app-nav></app-nav>
<main>
  <ng-toast [width]="300"> </ng-toast>
  <div>
    <label for="search">Search:</label>
    <input type="text" id="search" [(ngModel)]="searchText">
    <button type="button" class="btn btn-info btn-sm" (click)="Search()" style="margin: 10px 15px;">Search</button>

    <button class="btn btn-primary" (click)="toggleSidebar()">Categories</button>
    <div class="sidebar-overlay" [class.show]="sidebarVisible" (click)="toggleSidebar()"></div>
    <div class="sidebar-modal" [class.show]="sidebarVisible">
      <button class="close-btn" (click)="toggleSidebar()">x</button>

      <h3>Categories</h3>
      <ul>
        <li (click)="selectCategory('')" class="category-item">
          All Categories
        </li>
        <li *ngFor="let category of categories" (click)="selectCategory(category.slug)" class="category-item">
          {{ category.name }}
        </li>
      </ul>
    </div>

  </div>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" tabindex="-1" (click)="changePage('previous')">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pages" (click)="page !== '...' && changePage(page)"
        [class.active]="page === currentPage">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="changePage('next')">Next</a>
      </li>
    </ul>
  </nav>
  <div class="btn-group dropright" style="margin-bottom: 20px;">
    <p>Items per page: </p>
    <button class="btn btn-info btn-sm dropdown-toggle rounded" type="button" id="dropdownProducts" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" style="height: fit-content; margin-left: 10px; width: fit-content;">
      {{ limit }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownProducts">
      <a class="dropdown-item" [class.disabled]="limit === 20" (click)="updateProductLimit(20)">20</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [class.disabled]="limit === 40" (click)="updateProductLimit(40)">40</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [class.disabled]="limit === 60" (click)="updateProductLimit(60)">60</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [class.disabled]="limit === 80" (click)="updateProductLimit(80)">80</a>
    </div>
    <p>{{startIndex + 1}}-{{ endIndex }} of {{ totalProducts }}</p>
  </div>
  
  <div>
    <table class="table">
      <tbody>
        <tr>
          <th scope="col" class="blacktxt">#</th>
          <th scope="col" class="blacktxt">Title</th>
          <th scope="col" class="blacktxt">Description</th>
          <th scope="col" class="blacktxt">Price</th>
          <th scope="col" class="blacktxt">Rating</th>
          <th scope="col" class="blacktxt">Thumbnail</th>
        </tr>

        <tr *ngFor="let product of inputSearchRes">
          <th scope="row">
            {{product.id}}
          </th>
          <td>
            <a [routerLink]="['/products', product.id]" class="product-link">
              {{ product.title }}
            </a>
          </td>
          <td>
            {{ product.description }}
          </td>
          <td>
            {{ product.price }}
          </td>
          <td>
            <rating [(ngModel)]="product.rating" [readonly]="true" class="rating"></rating>
            {{ product.rating }}
          </td>
          <td>
            <img src="{{ product.thumbnail }}">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>