<body
  style="
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url('assets/corsaro6.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  "
>
  <main>
    <h1
      style="
        text-align: center;
        margin-top: 2em;
        color: black;
        text-shadow: 0.04em 0.04em #ffaa6a;
      "
    >
      Corsaro Uno
    </h1>
    <div style="overflow-x: auto">
      <table class="restoraniTab">
        <tr>
          <td colspan="2" class="belaPozadina">
            Corsaro uno posluje od 2014. godine na Paliću, poznati su po
            pripremi pizze Salvatore koja je sačinjena od kečapa, sira, šunke,
            gljiva, maslina, belog luka i ljute paprike po izboru.
            <br /><br />
            Pizze:
            <ul class="ponudaRB">
              <li>Sa sirom</li>
              <li>Sa sirom i gljivama</li>
              <li>Vegetariana</li>
              <li>Americana</li>
              <li>Gurmanska</li>
              <li>Domaća</li>
              <li>Corsaro</li>
              <li>Hawaii</li>
            </ul>
            <br /><br />
            Radno vreme: <br />
            Nedelja - Četvrtak 12 - 23h <br />
            Petak - Subota 12 - 24h
            <br /><br />
            Posetite njihovu stranicu za više informacija:
            <a
              href="https://corsaro-uno.business.site/"
              target="_parent"
              style="color: black"
            >
              corsaro-uno.business.site</a
            >
          </td>
        </tr>
        <tr>
          <td><img src="assets/corsaro2.webp" alt="" (click)="openLightbox(0)"/></td>
          <td><img src="assets/corsaro5.webp" alt="" (click)="openLightbox(1)"/></td>
        </tr>
      </table>
    </div>
  </main>
</body>
