<body
  style="
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url('assets/abraham1.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  "
>
  <main>
    <h1
      style="
        text-align: center;
        margin-top: 2em;
        color: black;
        text-shadow: 0.04em 0.04em #ffaa6a;
      "
    >
      Abraham
    </h1>
    <div style="overflow-x: auto">
      <table class="restoraniTab">
        <tr>
          <td colspan="2" class="belaPozadina">
            Gostiona Abraham je restoran tradicionalne kuhinje, najpoznatiji su
            po gulašu od juneće glave koji je dostupan samo petkom.<br />
            Osim toga, mogli bi istaći izvrsna jela od: ćuretine, piletine,
            svinjskog mesa, kao i od više vrsta rečnih riba.<br /><br />

            Specijaliteti kuće:
            <ul class="ponudaRB">
              <li>Tradicionalni juneći perkelt</li>
              <li>Riblji paprikaš od filiranog šarana s turoš čusom</li>
              <li>Tiski som i smuđ</li>
              <li>Mešano meso</li>
              <li>Abraham plato</li>
              <li>Šomloi galuška</li>
              <li>Palačinke s makom i prelivom od narandže</li>
            </ul>
            <br /><br />
            Radno vreme: <br />
            Utorak - Subota 11 - 22h <br />
            Nedelja 11 - 18h
            <br /><br />
            Posetite njihovu stranicu za više informacija:
            <a
              href="https://www.abraham.rs/sr"
              target="_blank"
              style="color: black"
            >
              abraham.rs</a
            >
          </td>
        </tr>
        <tr>
          <td><img src="assets/abraham5.webp" alt="" (click)="openLightbox(0)"/></td>
          <td><img src="assets/abraham6.webp" alt="" (click)="openLightbox(1)"/></td>
        </tr>
      </table>
    </div>
  </main>
</body>
