<body
  style="
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
      url('assets/paligo4.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  "
>
  <main>
    <h1
      style="
        text-align: center;
        margin-top: 2em;
        color: white;
        text-shadow: 0.04em 0.04em #ffaa6a;
      "
    >
      Paligo palata
    </h1>
    <div style="overflow-x: auto">
      <table class="restoraniTab">
        <tr>
          <td colspan="2" style="color: white">
            Gostiona Abraham je restoran tradicionalne kuhinje, najpoznatiji su
            po gulašu od juneće glave koji je dostupan samo petkom.<br />
            Osim toga, mogli bi istaći izvrsna jela od: ćuretine, piletine,
            svinjskog mesa, kao i od više vrsta rečnih riba.<br /><br />
            <br />
            Doručak:
            <ul class="ponudaRes" style="color: white">
              <li>Paligo sendvič</li>
              <li>Gurmanski doručak</li>
              <li>Klub sendvič</li>
              <li>Tortilja sa piletinom</li>
              <li>Domaće slane mekike</li>
            </ul>
            <br />
            Predjela:
            <ul class="ponudaRes">
              <li>Selekcija sireva</li>
              <li>Bruskete sa pršutom</li>
              <li>Rolnice sa povrćem</li>
              <li>Grilovani sir sa sosom od šljiva</li>
              <li>Suve šljive punjene kozijim sirom</li>
            </ul>
            <br />
            Glavna jela:
            <ul class="ponudaRes">
              <li>Juneći ribić</li>
              <li>Karađorđeva šnicla</li>
              <li>Vojvođanski gulaš</li>
              <li>Piletina sa mlincima</li>
              <li>Zapečene pileće grudi</li>
            </ul>
            <br /><br />
            Radno vreme: <br />
            Utorak - Subota 11 - 22h <br />
            Nedelja 11 - 18h
            <br /><br />
            Posetite njihovu stranicu za više informacija:
            <a href="https://paligopalata.rs/" target="_blank">
              paligopalata.rs</a
            >
          </td>
        </tr>
        <tr>
          <td><img src="assets/paligo5.webp" alt="" class="shadow" (click)="openLightbox(0)"/></td>
          <td><img src="assets/paligo1.webp" alt="" class="shadow" (click)="openLightbox(1)"/></td>
        </tr>
      </table>
    </div>
  </main>
</body>
