<body
  style="
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url('assets/rCarda2.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  "
>
  <main>
    <h1
      style="
        text-align: center;
        margin-top: 2em;
        color: black;
        text-shadow: 0.04em 0.04em #ffaa6a;
      "
    >
      Riblja čarda
    </h1>
    <div style="overflow-x: auto">
      <table class="restoraniTab">
        <tr>
          <td colspan="2" class="belaPozadina">
            Riblja čarda, sagrađena osamdesetih godina 19. veka, je
            specijalizovani riblji restoran poznat po filiranoj ribljoj čorbi i
            ribljim čvarcima.
            <br /><br />

            Specijaliteti kuće:
            <ul class="ponudaRB">
              <li>Riblji paprikaš</li>
              <li>Šaran dorozsmai</li>
              <li>Šaran na žaru</li>
              <li>Smuđ na žaru</li>
              <li>Brancin na žaru</li>
              <li>Lignje na žaru</li>
              <li>Pržene lignje</li>
            </ul>

            <br /><br />
            Radno vreme: <br />
            Ponedeljak - Nedelja 10 - 22h
            <br />
            <br />
            Posetite njihovu stranicu za više informacija:
            <a
              href="https://www.elittepalic.rs/restoran-riblja-carda/"
              target="_top"
              style="color: black"
            >
              elittepalic.rs/restoran-riblja-carda</a
            >
          </td>
        </tr>
        <tr>
          <td><img src="assets/rCarda3.webp" alt="" (click)="openLightbox(0)"/></td>
          <td><img src="assets/rCarda8.webp" alt="" (click)="openLightbox(1)"/></td>
        </tr>
      </table>
    </div>

    <div style="clear: both; margin-top: 2em">
      <table class="slikeRes">
        <tr>
          <td><img src="assets/rCarda1.webp" alt="" (click)="openLightbox(2)"/></td>
          <td><img src="assets/rCarda4.webp" alt="" (click)="openLightbox(3)"/></td>
          <td><img src="assets/rCarda5.webp" alt="" (click)="openLightbox(4)"/></td>
          <td><img src="assets/rCarda7.webp" alt="" (click)="openLightbox(5)"/></td>
        </tr>
      </table>
    </div>
  </main>
</body>
