<body>
  <div class="naslov">
    <h1>BLOG</h1>
    <div class="linija"></div>
  </div>

  <div class="desavanja">
    <div class="tekst">
      <h2>Poseta Palića za Prvi maj</h2>
      <p>
        Dobro poznati prvomajski praznici održavaju se svake godine na Paliću,
        gde dolaze gosti iz cele Srbije pa čak i iz inostranstva. Posetioci su u
        mogućnosti da kupe razne ugostiteljske i trgovačke proizvode.
        <br />
        Vašarska ponuda suvenira, hrane, pića i drugih proizvoda može se naći od
        terase Muški štrand sve do Ženskog štranda. Najpopularnija atrakcija za
        vreme Prvog maja je luna park sa raznovrsnim programom, koji, kao što su
        mnogi posetioci rekli, je <q>idealan za celu porodicu</q>.
      </p>
    </div>
    <div class="slike">
      <img src="assets/prviMaj1.webp" alt="" (click)="openLightbox(0)"  />
      <img src="assets/prviMaj2.webp" alt="" (click)="openLightbox(1)"  />
    </div>
  </div>

  <div class="desavanja">
    <div class="tekst">
      <h2>Prošetajte psa oko obale jezera</h2>
      <p>
        Ako tražite mesto gde možete prošetati Vašeg psa, park Palić je idealno
        mesto za to. Vaš pas će sigurno uživati u šetnji, a Vi se možete
        opustiti u prirodi i prelepom pogledu.
      </p>
    </div>
    <div class="slike">
      <img src="assets/parkPas4.webp" alt="" (click)="openLightbox(2)" />
    </div>
  </div>
</body>
