<body>
  <main>
    <div class="title">
      <h1>{{ 'navC.accommodation' | translate}}</h1>
    </div>
    <div style="overflow-x: auto">
      <table class="infoTab">
        <tr>
          <td [innerHTML]=" 'accommodationC.villaPalic' | translate ">
          </td>
          <td><img src="assets/vilaPalic.webp" alt="" class="relativePosition" (click)="openLightbox(0)"/></td>
        </tr>
        <tr>
          <td [innerHTML]=" 'accommodationC.jelenSalas' | translate ">
          </td>
          <td>
            <img
              src="assets/jelenSalas6.webp"
              alt=""
              style="width: 80%"
              class="relativePosition"
              (click)="openLightbox(1)"
            />
          </td>
        </tr>
        <tr>
          <td [innerHTML]=" 'accommodationC.navigator' | translate">
          </td>
          <td>
            <img
              src="assets/navigator1.webp"
              alt=""
              style="width: 70%"
              class="relativePosition"
              (click)="openLightbox(2)"
            />
          </td>
        </tr>
      </table>
    </div>
  </main>
</body>
