* {
    margin: 0;
    padding: 0;
    font-family: Georgia, Garamond, serif;
    box-sizing: border-box;
    color: white;
}

q.quote {
    color: black;
    font-style: italic;
  }

span.eventSpan {
    color: black;
  font-size: 1.7em;
  font-style: oblique;
  font-family: Trattatello, serif;
}

@media only screen and (max-width: 700px) {
    span.eventSpan {
      font-size: 1.3em;
    }
  }

@import url('bootstrap/dist/css/bootstrap.min.css');